@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro|Volkhov');

body {
  font-family: 'Source Sans Pro', sans-serif;  
  background-color: #e9ecef;
}

.iconHolder {
  font-size: 1.5rem;  
}

i {
  position: absolute;
  top: 18px;
  right: 20px;
}

i:hover {
  color: #000811;
  text-decoration: none;
  cursor: pointer;
}

i.default-icon {
  position: static;
  color: inherit;
}

i.default-icon:hover {
  text-decoration: none;
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6, .iconHolder {
  font-family: 'Volkhov', serif; 
  font-weight: 400;
  color: #001c39;
}

h2 {
  font-size: 1.7em;
  margin: 00px 0px 20px 0px;
}

h4.card-title {
  margin-bottom: 0px;
}

p {
  font-family: 'Source Sans Pro', sans-serif;
}

.nav-tabs .nav-link.active {
  background-color: #FFF;
  border-bottom: 1px solid #FFF;
}

.nav-tabs .nav-link:hover {
  color: #800000;
}

.nav-tabs .nav-link.active:hover {
  color: #495057;
  cursor: default;
}

.school-sub-header {
  margin-top:20px;
}