@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro|Volkhov');

body {
  background: #FFF;
  font-family: 'Source Sans Pro', sans-serif;  
}

a {
  color: #800000;
}

a:hover {
  color: #800000;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Volkhov', serif; 
  font-weight: 400;
}

p {
  font-family: 'Source Sans Pro', sans-serif;
}