[class ^= "homeButton"] {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
  }

.titlepage-lead a small {
  color: #bf7f7f;
}

.titlepage-lead a small:hover {
  color: #FFF;
  text-decoration: none;
}

@media (min-width: 576px) { 
  .homeButton-left {
    float: right;
  }

  .homeButton-right {
    float: left;
  }
}

